
<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="__CSS__/txt.css">

	<link rel="stylesheet" type="text/css" href="__CSS__/mulu.css">
</head>
<body>

		<div class="header">
		<div class="header_logo">
				<a href="{:url('admin/Book/shuji')}" class="feng">枫阅读</a>
			<img src="__STATIC__/logo.jpg" width="5%" height="5%">
			
		<div class="header_search"><form action="{:url('admin/Book/sou')}" method="get">
			<input type="txt" name="name" class="txt">
			<input type="submit" value="搜索" class="submit" />
		</form></div>
		<div class="zhuangtai">
	{if session('yhid')}

{:session('name')}&nbsp
<a href="{:url('index/Booka/yhsc')}">上传书籍</a>
<a href="{:url('index/Index/data')}">修改密码</a>
<a href="{:url('admin/Book/bookjia')}">我的书架    </a>
<a href="{:url('index/Index/delete')}">退出</a>
{elseif session('userid')}
	
	

{:session('name')}


<a href="{:url('admin/Book/bookjia')}">我的书架    </a>
	<a href="{:url('admin/User/index')}">管理员首页   </a>	
	<a href="{:url('admin/User/delete1')}">退出</a>
	{else/}
	<a href="{:url('index/Index/denglu')}">登陆</a>
	<a href="{:url('index/Yh/zuce')}">注册</a>

{/if}</div>
	</div>
		
	

		</div>
	
	<!-- 	{if session('yhid')} {:session('name')} 
		<a href="{:url('admin/Book/bookjia')}">我的书架    </a>
	<a href="{:url('admin/User/delete')}">退出</a>
{/if}{if session('userid')} {:session('name')} 
<a href="{:url('admin/Book/bookjia')}">我的书架    </a>
	<a href="{:url('admin/User/delete1')}">退出</a>
{/if} -->
		
		<div class="nav">
			<ul>
				<li>
						<a href="{:url('index/index/index')}">首页</a>
				</li>
				<li>
					<a href="{:url('admin/Book/shuji')}">书库</a>
				</li>
				<li>
					<a href="{:url('admin/Book/type',['type'=>'都市'])}">都市</a>
				</li>
				<li>
					<a href="{:url('admin/Book/type',['type'=>'玄幻'])}">玄幻</a>
				</li>
				<li>
					<a href="{:url('admin/Book/type',['type'=>'名著'])}">名著</a>
				</li>
				<li>
					<a href="{:url('admin/Book/type',['type'=>'历史'])}">历史</a>
				</li>
				<li>
					<a href="{:url('admin/Book/type',['type'=>'武侠'])}">武侠</a>
				</li>
			</ul>
		</div>
    <div id="wrapper">



        <div class="content_read">
			<div class="dahengfu"><script type="text/javascript">read1();</script></div>
			<div class="box_con">
				
				<div style="text-align: center; font-size: 28px;">
				{$zhangjie}
				<div class="bottem3">
					<a href="{:url('admin/Book/flash',['id'=>($id-1),'name'=>$message.name])}"target="_top" class="pre">上一章</a>
<a href="{:url('admin/Book/txt',['name'=>$message.name])}" target="_top" class="pre">返回目录</a>
<a href="{:url('admin/Book/flash',['id'=>($id+1),'name'=>$message.name])}" target="_top" class="pre">下一章</a>
		</div>
				<div class="axs">　　	<p>{$use}</p>	
				</div>
				
				</div>

				<div class="bottem2">
					<a href="{:url('admin/Book/flash',['id'=>($id-1),'name'=>$message.name])}"target="_top" class="pre">上一章</a>
<a href="{:url('admin/Book/txt',['name'=>$message.name])}" target="_top" class="pre">返回目录</a>
<a href="{:url('admin/Book/flash',['id'=>($id+1),'name'=>$message.name])}" target="_top" class="pre">下一章</a>
		</div>
				
			</div>
		</div>
    	<div class="footer">
	      枫阅读所有小说均来自网上以及网友上传，与本站立场无关版权归原作者和出版社所有。阅读者如发现作品内容确有与法律抵触之处，可向本站举报。倡导文明阅读，绿色网络，从我做起，如发现侵权、非法、色情类小说,发送邮件给:<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=1764928384@qq.com">管理员</a> 删除！
</div>
</body>
</html>

