
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="__CSS__/login.css">

<div class="admin_login_wrap">
    <h1>修改密码</h1>
   
<a href="{:url('index/Index/index')}"><p class="sy">首页</p></a>
    <div class="adming_login_border">
        <div class="admin_input">

<form action="{:url('index/Index/update')}"  method="post">
	<ul class="admin_items">
                    <li>
                        <label for="user">用户名：</label>

<input type="text" name="name" id="" value="" class="admin_input_style" /> </li>
 <li>
                        <label for="user">密码：</label>


<input type="password" id="" name="md5" value="" class="admin_input_style"/></li>
 <label for="user">新密码： </label>
<input type="password" name="password"  class="admin_input_style"/></li>
  <label for="user">确认密码：</label>
<input type="password" name="repassword"  class="admin_input_style"/></li>

	<input type="submit" value="修改" class="btn btn-primary"/>
	<input type="reset" value="重填" class="btn btn-primary" />
</form>

</body>
</html>